/* VTBGroupUI Font - локальная загрузка */

@font-face {
  font-family: 'VTBGroupUI';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/VTBGroupUI-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'VTBGroupUI';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/VTBGroupUI-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'VTBGroupUI';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/VTBGroupUI-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'VTBGroupUI';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/VTBGroupUI-Bold.woff2') format('woff2');
}
